@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2020-08-11 21:30:24
 * @version 1.0.0
 */

html,body{
    background-color: rgb(96, 24, 124);
    margin:0;
    padding:0;
}
.wrap{
    margin:0;
    display:inline-block;
    overflow:auto;
    background-color: lavenderblush;
    min-width:50vw;
    width:100%;
    min-height:90vh;
    height:auto;
    
}

.center{
    margin:auto;
}

input[type=text],input[type=password]{
    background-color: rgb(158, 34, 158);
}

.titleBox{

    background-color: lightblue;
    width:60vw;
    height:20vh;

}

.title{
    position:relative;
    top:25%;
    background-color: beige;
    
    width:40vw;
    height:10vh;

}


.main{
    overflow:auto;
    width:50vw;
    min-height:90vh;
    height:auto;
    margin: auto;
    background-color: lightblue;
}

.back{
    width:75vw;
    background-color:orange;
}

#users{

display:inline-block;
position:absolute;
left:50px;
top:50px;
background-color: bisque;

}
.triBase{
    position:absolute;

    top:0px;

    width:0;
    height:0;
}
.triLeft{

    
    left:0px;
    

    

    border-bottom:90px solid transparent;
    border-right: 90px solid transparent;

    border-left:200px solid black;
    border-top:90px solid black;

}

.triRight{

    right:0px;

    border-bottom:90px solid transparent;
    border-left:90px solid transparent;

    border-top:90px solid black;
    border-right:200px solid black;

}

.lSideB{

left:13.35vw;

border-top:60px solid black;
border-right:60px solid black;

border-bottom:60px solid transparent;
border-left:60px solid transparent;  

}
.lSideS{

    left:13.35vw;

    border-top:100px solid black;
    border-right:60px solid black;
    
    border-bottom:60px solid transparent;
    border-left:60px solid transparent;  
}

.rSideB{

    right:13.35vw;

    border-top:60px solid black;
    border-right:60px solid transparent;
    
    border-bottom:60px solid transparent;
    border-left:60px solid black;

}

.rSideS{

    right:13.35vw;

    border-top:100px solid black;
    border-right:60px solid transparent;
    
    border-bottom:60px solid transparent;
    border-left:60px solid black;

}

.users button{
    position:absolute;
    left:500px;
}

.usrtable{
    position:absolute;
    display:inline;
}


.info{

    display:inline;
    position:absolute;
    right:50px;
    top:50px;
    background-color: khaki;

}

legend{
    border: 3px solid black;
    background-color: lightcoral;
    margin:auto;
}



.content{
    background-color:rgb(68, 9, 92);
    display:block;
    width:50vw;
    min-height:80vh;
    height:auto;
    margin: auto;
}

p{
    display:inline;
}

fieldset{
    margin:auto;
    background-color: rgb(129, 46, 161);
    border-color: lightgreen;
    width:50%;
}

form{
    /*display:inline-block;*/
    text-align: center;
    /*background-color: lawngreen;*/
}
form a{
    display:block;
    color:turquoise;
}

.b_tail{
    float:left;
    width: 0;
	height: 0;
	border-left: 8.334vw solid transparent;
	border-right: 8.334vw solid transparent;
	border-top: 16.535vw solid rgb(83, 15, 85);
}