@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2020-08-11 21:30:24
 * @version 1.0.0
 */

html,body{
    background-color: rgb(96, 24, 124);
    margin:0;
    padding:0;
}
.wrap{
    margin:0;
    display:inline-block;
    overflow:auto;
    background-color: rgb(88, 66, 25);
    min-width:50vw;
    width:100%;
    min-height:90vh;
    height:auto;
    
}

.center{
    margin:auto;
}

input[type=text],input[type=password]{
    background-color: rgb(158, 34, 158);
}

.titleBox{

    background-color: lightblue;
    width:60vw;
    height:20vh;

}

.title{
    position:relative;
    top:25%;
    background-color: beige;
    
    width:40vw;
    height:10vh;

}

.outer{

    height:100%;
    width:90%;

    background-color: darkcyan;

}

.mitte{
    height:100%;
    width:90%;

    background-color: darkgreen;
}

.inne{
    height:100%;
    width:90%;


    background-color: darkred;

}

h3{
    display:block;
    margin:auto;
    padding-top: 5%;
    text-align:center;
}


.main{
    overflow:auto;
    width:50vw;
    min-height:90vh;
    height:auto;
    margin: auto;
    background-color: rgb(155, 144, 124);
}

.back{
    width:75vw;
    background-color:rgb(155, 144, 124);
}


.triBase{
    position:absolute;

    top:0px;

    width:0;
    height:0;
}
.triLeft{

    z-index: 1;
    
    left:0px;
    

    

    border-bottom:175px solid transparent;
    border-right: 175px solid transparent;

    border-left:250px solid rgb(121, 16, 16);
    border-top:75px solid rgb(121, 16, 16);

}

.triRight{
    
    z-index: 1;

    right:0px;

    border-bottom:175px  solid transparent;
    border-left:175px  solid transparent;

    border-top:75px solid rgb(121, 16, 16);
    border-right:250px solid rgb(121, 16, 16);

}

.cTest{
    position:absolute;

    

    overflow:hidden;

    z-index: 0;
    height:187px;
    width:144px;
    /*background-color: chartreuse;*/
}

.lDivpos{
    left:12.10vw;
}

.rDivPos{
    right:12.05vw;
}

.lSideB{

/*left:9.75vw;*/
left:-2.438vw;


border-top:60px solid transparent;
border-right:40px solid rgb(85, 20, 128);

border-bottom:127px solid rgb(85, 20, 128);
border-left:150px solid transparent;  

}
.lSideS{

    /*left:12.3vw;*/ left:0.55vw; 
                    

    border-top:120px solid rgb(125, 52, 143);
    border-right:80px solid rgb(125, 52, 143);
    
    border-bottom:60px solid transparent;
    border-left:60px solid transparent;  
}



.rSideB{

    /*transform:scaley(2);
    
    right:9.75vw;*/


    border-top:60px solid transparent;
    border-right:150px solid transparent;
    
    border-bottom:127px solid rgb(85, 20, 128);
    border-left:40px solid rgb(85, 20, 128);

}

.rSideS{

    

    /*right:12.3vw;*/


    border-top:120px solid rgb(125, 52, 143);
    border-right:60px solid transparent;
    
    border-bottom:60px solid transparent;
    border-left:80px solid rgb(125, 52, 143);

}

#users{

    z-index: 1;

display:inline-block;
position:absolute;
left:50px;
top:50px;
/*background-color: bisque;*/

}

#users button{
    

    background-color: transparent;
    border:none;
}

#usrtbl{
    position:absolute;
    display:block;
}

#infoTxt{
    position:absolute;
    display:block;
}


.info{

    z-index: 1;

    display:inline;
    position:absolute;
    right:50px;
    top:50px;
    /*background-color: khaki;*/

}

legend{
    border: 3px solid black;
    background-color: lightcoral;
    margin:auto;
}



.content{
    background-color:rgb(68, 9, 92);
    display:block;
    width:50vw;
    min-height:80vh;
    height:auto;
    margin: auto;
}

p{
    display:inline;
}

fieldset{
    margin:auto;
    background-color: rgb(129, 46, 161);
    border-color: lightgreen;
    width:50%;
}

form{
    /*display:inline-block;*/
    text-align: center;
    /*background-color: lawngreen;*/
}
form a{
    display:block;
    color:turquoise;
}

.b_tail{
    float:left;
    width: 0;
	height: 0;
	border-left: 8.334vw solid transparent;
	border-right: 8.334vw solid transparent;
	border-top: 16.535vw solid rgb(68, 9, 92);
}